@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  width: 1100px;
  margin: 0 auto;

  .main {
    width: 66%;
    overflow: hidden;

    &__banner {
      width: 100%;
      position: relative;
    }

    &__blogs {
      margin-top: 20px;
    }
  }

  .asside {
    width: 32%;

    .topicWrapper {
      height: 437px;
      width: 100%;
      background-color: #fff;
    }

    .articleLinkWrapper {
      margin-top: 20px;
      width: 100%;
    }
  }
  &__pagination{
    width: 100%;
    height: 40px;
    margin-top: 40px;
  }
}