.description {
  width: 100%;
  background-color: #fff;
  position: relative; }
  .description .imgbg {
    height: 130px;
    width: 100%;
    background: #fff url("http://f.jiangpaipinpai.com/img/caseimg/source/images/banner.png") no-repeat;
    background-size: cover; }
  .description .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 80px; }
    .description .avatar img {
      height: 100%;
      width: 100%; }
  .description__wrapper {
    margin-top: 70px;
    padding: 0 20px 30px;
    text-align: center; }
  .description__name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px; }
  .description__job {
    font-size: 18px;
    color: #595959;
    margin-bottom: 30px; }
  .description__text {
    color: #999;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    text-indent: 29px; }
