.showArticle {
  .article {
    padding: 20px;

    .article__title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    &__detail {
      padding: 0 20px;
      margin-bottom: 30px;

      div {
        font-size: 12px;
        color: #748594;
        line-height: 1.5;
        display: inline-block;
        margin-right: 20px;

        &:last-of-type {
          margin: 0;
        }

        i {
          height: 14px;
          width: 14px;
          display: inline-block;
          margin-right: 4px;
        }
      }

      .detail__tag {
        i {
          background: #fff url('http://f.jiangpaipinpai.com/img/caseimg/blogImg/icons/tag.png') 0 100% /contain no-repeat;
        }
      }

      .detail__time {
        i {
          background: #fff url('http://f.jiangpaipinpai.com/img/caseimg/blogImg/icons/newsbg02.png') 0 100% /contain no-repeat;
        }
      }

      .detail__view {
        i {
          background: #fff url('http://f.jiangpaipinpai.com/img/caseimg/blogImg/icons/newsbg04.png') 0 100% /contain no-repeat;
        }
      }

      .detail__zan {
        i {
          background: #fff url('https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3787727293,2495081567&fm=27&gp=0.jpg') 0 100% /contain no-repeat;
        }
      }
    }
    &__synopsis{
      background-color: #ddd;
      padding: 15px;
      font-size: 14px;
      line-height: 16px;
    }

    .article__content {
      width: 100%;
      display: block;

      pre {
        background-color: rgb(246, 246, 246);
        padding: 10px;
      }
    }
  }
}